@model VetNet.Models.Obavjestenje

<h3 class="text-center">Da li ste sigurni da želite obrisati odabrano obavještenje?</h3>
<div class="sek-pozadina p-3 mb-3">
    <h4 class="text-center">Obavještenje</h4>
    <hr />
    <div class="row mb-3">
        <div class="col text-end">
            @Html.DisplayNameFor(model => model.datumVrijeme)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.datumVrijeme)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col text-end">
            @Html.DisplayNameFor(model => model.sadrzaj)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.sadrzaj)
        </div>
    </div>
    <form asp-action="Delete" class="text-center">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Obriši" class="btn btn-danger moj-outline" />
    </form>
</div>
<div>
    <a asp-action="Index" class="sek-pozadina text-dark add-new-button">Obavještenja</a>
</div>