@model VetNet.Models.Izvjestaj

<h2 class="text-center">Detalji o izvještaju</h2>

<div class="sek-pozadina p-3">
    <h4 class="text-center"> Izvještaj</h4>
    <hr />
    <div class="row mb-3">
        <div class="col text-end">
            @Html.DisplayNameFor(model => model.datumVrijeme)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.datumVrijeme)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col text-end">
            @Html.DisplayNameFor(model => model.sadrzaj)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.sadrzaj)
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col text-start">
        <a asp-action="Edit" asp-route-id="@Model?.id" class="sek-pozadina text-dark add-new-button">Uredi izvještaj</a>
    </div>
    <div class="col text-end">
        <a asp-action="Index" class="sek-pozadina text-dark add-new-button">Izvještaji</a>
    </div>
</div>

