@model VetNet.Models.Izvjestaj

<h2 class="text-center">Uredi izvještaj</h2>
<hr />
<div class="row sek-pozadina mb-3 justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-floating mb-3 mt-3">
                <input placeholder="" asp-for="datumVrijeme" class="form-control moj-outline" />
                <label asp-for="datumVrijeme" class="control-label"></label>
                <span asp-validation-for="datumVrijeme" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input placeholder="" asp-for ="sadrzaj" class="form-control moj-outline" />
                <label asp-for="sadrzaj" class="control-label"></label>
                <span asp-validation-for="sadrzaj" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Potvrdi" class="btn prim-pozadina moj-outline" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="sek-pozadina text-dark add-new-button">Izvještaji</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
