@page
@model LoginModel

<h2 class="text-center ">Prijavi se</h2>
<hr />
<div class="row justify-content-center sek-pozadina">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3 mt-3">
                    <input asp-for="Input.Email" class="form-control moj-outline" autocomplete="username" aria-required="true" placeholder="" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control moj-outline" autocomplete="current-password" aria-required="true" placeholder="" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input moj-outline" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="btn prim-pozadina moj-outline mb-3">Prijavi se</button>
                </div>
            </form>
        </section>
    </div>
</div>
<div class="row mt-3">
    <div class="col text-start">
        <a class="sek-pozadina text-dark add-new-button" id="forgot-password" asp-page="./ForgotPassword">Zaboravili ste password?</a>
    </div>
    <div class="col text-end">
        <a class="sek-pozadina text-dark add-new-button" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Potvrdi email</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
