<div class="text-center">
    <h1 style="text-align: center;font-size: 3rem;
            color: #2c3e50;
            text-shadow: 1px 1px 2px #FF001A3F;
            background: linear-gradient(to right, #4ca1af, #c4e0e5);
            -webkit-background-clip: text;
            font-family: 'Arial', sans-serif;">
        <strong>VetNet</strong>
    </h1>
    <div style="margin-top: 2%; margin-bottom:2%; color: darkgray; font-size: 1.5em">
        <b style="text-align: center;font-size: 1.5rem;
            color: #2c3e50;
            text-shadow: 1px 1px 2px #FF001A3F;
            background: linear-gradient(to right, #4ca1af, #c4e0e5);
            -webkit-background-clip: text;
            font-family: 'Arial', sans-serif;">
            Sistem za digitalno umrežavanje u veterinarstvu.
        </b>
    </div>
    <div style="margin-top: 2%;margin-bottom:2%; color: darkgray; font-size: 1.5em">
        <img src="/veterinariHome.jpg" style="width: 400px; height: 300px;">
        <br>
        <b style="text-align: center;font-size: 1rem;
            color: #2c3e50;
            text-shadow: 1px 1px 2px #FF001A3F;
            background: linear-gradient(to right, #4ca1af, #c4e0e5);
            -webkit-background-clip: text;
            font-family: 'Arial', sans-serif;">
            Detaljno praćenje terapija i pregleda ljubimaca.
            Svaki pregled i recept dokumentovan online, što omogućava jednostavan pristup historiji svakog ljubimca.
        </b>
        <br><br>
        <img src="/apotekarHome.jpg" style="width: 400px; height: 300px;">
    </div>

    <div style="margin-top: 2%;margin-bottom:2%; color: darkgray; font-size: 1.5em">
        <b style="text-align: center;font-size: 1rem;
            color: #2c3e50;
            text-shadow: 1px 1px 2px #FF001A3F;
            background: linear-gradient(to right, #4ca1af, #c4e0e5);
            -webkit-background-clip: text;
            font-family: 'Arial', sans-serif;">

            VetNet je sistem koji omogućava vlasnicima kućnih ljubimaca jednostavan pristup informacijama o veterinarskim lijekovima.
            Vlasnici mogu brzo saznati koje lijekove trebaju uzeti za svoje ljubimce putem VetNet platforme.
            <br>
            Osim toga, sistem pruža informacije o trendovima u veterinarskoj medicini, uključujući vakcinacije i druge bitne aspekte skrbi za kućne ljubimce.
            VetNet je koristan alat za praćenje zdravlja ljubimaca, jer omogućava vlasnicima da budu informirani o najnovijim preporukama i promjenama.
            Kroz VetNet, vlasnici mogu saznati više o specifičnim lijekovima, doziranju i potencijalnim nuspojavama.
            <br>
            Sistem također olakšava praćenje karencijskih perioda, tj. vremena koje treba proći nakon primjene lijeka prije nego što se ljubimac može koristiti za prehranu ljudi.
            VetNet je dostupan online, što znači da vlasnici mogu pristupiti informacijama putem računara ili mobilnih uređaja.
            Kroz ovaj sistem, vlasnici mogu bolje razumjeti svoje ljubimce i osigurati im optimalnu skrb.
            VetNet također podržava farmakovigilanciju, praćenje nuspojava lijekova i njihovu sigurnost.
            U konačnici, VetNet doprinosi boljem zdravlju i dobrobiti kućnih ljubimaca, olakšavajući vlasnicima pristup relevantnim informacijama.
        </b>
    </div>
</div>