@model VetNet.Models.Poslovnica

<h3 class="text-center">Da li ste sigurni da želite obrisati odabranu poslovnicu?</h3>
<div class="sek-pozadina p-3 mb-3">
    <h4 class="text-center">@Html.DisplayFor(model => model.naziv)</h4>
    <hr />
    <div class="row mb-3">
        <div class="col text-end">
            Adresa:
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.adresa)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col text-end">
            Broj telefona:
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.brojTelefona)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col text-end">
            Email:
        </div>
        <div class="col text-black">
            @Html.DisplayFor(model => model.email)
        </div>
    </div>
    <form asp-action="Delete" class="text-center">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Obriši" class="btn btn-danger moj-outline" />
    </form>
</div>
<div>
    <a asp-action="Index" class="sek-pozadina text-dark add-new-button">Poslovnice</a>
</div>
