<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] VetNet</title>
    <link rel="icon" href="~/VetNet logo.png" type="image/x-icon"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VetNet.styles.css" asp-append-version="true" />
</head>
<body class="prim-pozadina">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light sek-pozadina border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img width="30" height="30" src="~/VetNet logo.png" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Početna</a>
                        </li>
                        @if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Izvjestaj" asp-action="Index">Izvještaji</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Obavjestenje" asp-action="Index">Obavještenja</a>
                            </li>
                        }
                        @if (User.IsInRole("Administrator") || User.IsInRole("Veterinar") || User.IsInRole("Apotekar"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Ljubimac" asp-action="Index">Ljubimci</a>
                            </li>
                            //TODO: prikaz samo za jedan konkretan recept a ne sve
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Recept" asp-action="Index">Recepti</a>
                            </li>
                        }
                        @if (User.IsInRole("Administrator") || User.IsInRole("Veterinar"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Pregled" asp-action="Index">Pregledi</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Poslovnica" asp-action="Index">Apoteke</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="VeterinarskaSluzba" asp-action="Index">Veterinarske Službe</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <img width="50" height="50" src="~/VetNet logo.png" />
            &copy; 2024 - VetNet 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
